html {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #e2e8ed;
  margin: 0;
  height: 100%;
  background-color: black;
}

p {
  margin: 0;
}

.background {
  background-image: url("../images/traverse.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadein 2s;
  transition: 1s;
  z-index: -1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.foreground {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
}

.header {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.initials {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  text-align: center;
  min-width: 80px;
  min-height: 80px;
  line-height: 80px;
  border: solid 2px #e2e8ed;
  transition: 1s;
  opacity: 0.5;
  margin-left: 15px;
}

.initials:hover {
  opacity: 1;
  border-radius: 100px;
  transition: 1s;
  color: black;
  background-color: #e2e8ed;
}

.item {
  text-align: center;
  line-height: 50px;
  height: 50px;
  transition: 0.5s;
  opacity: 0.5;
}

.item:hover {
  color: #e2e8ed;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  opacity: 1;
}

.menu {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.menu .item {
  flex: 1;
  padding: 30px;
  border: solid 2px rgba(226, 232, 237, 0);
  width: 200px;
}

.name {
  position: fixed;
  font-family: 'Khand', sans-serif;
  float: left;
  transform: rotate(-90deg);
  opacity: 0;
  transition: all 1s;
}

.first {
  color: rgba(226, 232, 237, 0.3);
  font-size: 180px;
  height: 50px;
  margin-top: 430px;
  margin-left: -226px;
}

.last {
  color: rgba(226, 232, 237, 0.5);
  font-size: 84px;
  height: 50px;
  margin-top: 252px;
  margin-left: -30px;
}

.name:hover {
  color: #e2e8ed;
  transition: 2s;
}

.about-info {
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 2px solid #e2e8ed;
}

.about-section {
  position: fixed;
  display: flex;
  left: 33%;
  flex-direction: column;
}

.studio-image {
  width: 600px;
  height: 400px;
  padding: 20px;
  background-image: url("../images/studio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.text {
  position: fixed;
  padding: 20px;
  left: 40%;
  top: 40%;
  margin-right: 10%;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  animation-duration: 3s;
  animation-name: slidein;
  opacity: 0;
  transition: 1s;
}

.copyright {
  width: 100%;
  padding-left: 15px;
  text-align: center;
  position: fixed;
  font-size: 14px;
  opacity: 0.5;
  bottom: 8px;
}
